.bookmark-folder {
  transition: all 100ms ease-in-out;
}

.folder-list {
  padding-left: .75em;
  border-left: 2px solid #E1E2E1;
  transition: all 100ms ease-in-out;
  transform-origin: top left;
}
