<mat-form-field class="mat-form-full" appearance="fill">
  <mat-label>Search Bookmarks</mat-label>
  <input #searchInputField matInput type="text" [ngModel]="searchText" (ngModelChange)="onSearchTextChange($event)">
  <div matSuffix>
    <button class="search-icon icon-float-left" mat-icon-button (click)="closeSearch()">
      <mat-icon *ngIf="searchText == null || searchText.length === 0">search</mat-icon>
      <mat-icon *ngIf="searchText && searchText.length !== 0">search_off</mat-icon>
    </button>
    <button class="search-icon" mat-icon-button matSuffix (click)="showSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-form-field>