.bookmark {
  width: 100%;
  position: relative;
  left: -.75em;
  padding: .75em .5em;
  cursor: pointer;
  transition: all 100ms ease;
  box-sizing: border-box;
}

.bookmark > .bookmark-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  user-select: none;
}

.bookmark > .bookmark-title {

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 16px - 0.75em);
  user-select: none;
  
  position: relative;
  vertical-align: middle;
  left: .5em;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.hidden {
  background-color: lightgray;
  opacity: 0.35;
}

.hover-inside {
  background-color: lightgray;
}
