.bookmark {
  width: 100%;
  position: relative;
  left: -8px;
  padding: 8px 6px;
  cursor: pointer;
  user-select: none;
}

.bookmark:hover {
  background-color: rgb(233, 233, 233);
}

.bookmark > .bookmark-icon {
  position: relative;
  vertical-align: middle;
  height: 16px;
  width: 16px;
}

.bookmark > .bookmark-title {

  position: relative;
  vertical-align: middle;
  left: 6px;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;

}
