ol {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

ol > li {
  list-style: none;
  list-style-type: none;
  transition: all 100ms ease-in-out;
}

.bookmark-drop-preview {
  opacity: 0.5;
}
