@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --scrollbar-width: 5px;
}

html, body {  
  position: initial !important;
}

html {
  border-right: var(--scrollbar-width) solid #888;
}

body { 
  margin: 0; 
  min-height: 420px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-dialog-title {
  margin: 0 0 .5em
}

.mat-form-field, .mat-dialog-content {
  font-size: 14px;
}

.mat-form-full {
  width: 100%;
}

::-webkit-scrollbar {
  transition: all 100ms ease-in-out;
  width: var(--scrollbar-width);;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.has-overscroll {
  border-right: 0 !important;
}